# Archivos de configuración local y credenciales
.env

# Archivos subidos por usuarios
media/

# Entornos virtuales
venv/
env/
ENV/

# Caché de Python
__pycache__/
*.py[cod]

# Carpetas de VS Code u otros editores
.vscode/
.idea/